@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

html {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

h1,
h2 {
    cursor: default;
    text-align: center;

}
h2:active{
    transition: 0.5s;
}

.Mapa{
    width: 400px;
    margin: auto;
    display: block;
}