
.Mapa{
  width: 50%;
  margin: 0 auto;
  display: block;
}

svg path{
  fill: #181822;;
  stroke: rgb(77, 77, 77);
  stroke-width: .25;
}
svg path:hover{
  fill: salmon;
  transition: 0.6s;
  cursor: pointer;
}
.svgs{
  display: block;
margin-left: 2%;
  width: 90%;
}

  
@media only screen and (max-width: 600px) {

  .Mapa{
      width: 100%;
     }
  
}