.container {
  padding: 0;
  margin: 0;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 3%;
  padding-top: 10px;
  padding-left: 0px;
  background-color: #181822;
  border-radius: 25px;
}

.container h1,
p,
h2,
h3 {
  color: snow;
  text-align: left;
  font-family: arial;
}

.container h1 {
  text-decoration: underline;
  text-decoration-color: salmon;
  margin-left: 2%;
  font-size: 1rem;
}

.container p {
  width: auto;
  margin-left: 1%;
  margin-top: 60px;
  font-size: small;
  text-align: left;
}

.person {
  display: flex;
  flex-direction: row;
}

.container img {
  border-radius: 60px;
  margin-left: 1%;
  width: 200px;
}

a .git {
  margin-left: 2%;
  width: 40px;
  height: 75px;
  filter: invert(81%) sepia(36%) saturate(4489%) hue-rotate(310deg) brightness(96%) contrast(105%);
}
a .link {
  width: 33px;
  height: 70px;
  filter: invert(81%) sepia(36%) saturate(4489%) hue-rotate(310deg) brightness(96%) contrast(105%);
}