@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Hindi:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@300&display=swap');


html {
    color: black;
    margin: 0 auto;
}

h1 {
    cursor: default;
    text-align: center;
    font-family: 'Tiro Devanagari Hindi', serif;
  }
  
  h2 {
      cursor: default;
      text-align: center;
      font-family: 'Noto Serif Georgian', serif;
  }

h2:active{
    transition: 0.5s;
}

.Mapa{

    margin: 0 auto;
    display: block;
}
html {
    font-size: 1.5rem;
}

body {
    background-color: #ffffff;
    margin: 0 auto;
}

header {
    background-color: #181822;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.7rem 0;
}

.text {
    margin-left: 2%;
    font-size: 1rem;
    text-decoration: underline;
    text-decoration-color:salmon;
    color: rgb(255, 255, 255);
    transition: 0.5s;
    font-family: 'Noto Serif Georgian', serif;
    margin-right: 2%;
    background-color: transparent;
    border: none;
    box-shadow: inset 0 0 0 0 salmon;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.text:hover{
    color: #000000 ;
    text-decoration: none;
    transition: 0.5s;
}
a {
    box-shadow: inset 0 0 0 0 salmon ;
    color: #000000 ;
    margin: 0 -.25rem;
    padding: 0 .25rem;
  }
.text:hover {
    box-shadow: inset 6rem 0 0 0 salmon ;
    color: rgb(0, 0, 0);
  }
h1 {
    color: rgb(0, 0, 0);
    font-family: 'Tiro Devanagari Hindi', serif;
    /*margin-left: 435px;*/
    transition: 0.4s;
}